*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main{
    width: 400px;

}
.btn{
width: 100%;
padding: 20px 0;
border: none;
outline: none;
background-color: rgb(61, 174, 61);
border-radius: 8px;
font-size: 22px;
cursor: pointer;
}
.btn:hover{
    border: rgb(66, 95, 24);
}
.btn:active{
    transform: scale(1.01);
}
.btn:not(:last-child){
    margin-bottom: 15px;
}